body
{
background-color: grey;
}
.blok
{
	position:absolute;
	width:600px;
	height:600px;
	left:100px;
    top:100px;
	
}
.blok1
{
	position:absolute;
	width:150px;
	height:150px;
	left:150px;
	top:150px;
	background-color: red;
	text-align: center;
}
.blok2
{
	position:absolute;
	width:150px;
	height:150px;
	right:150px;
	top:150px;
	background-color: green;
	text-align: center;
}
.blok3
{
	position:absolute;
	width:150px;
	height:150px;
	left:150px;
	bottom:150px;
	background-color: yellow;
	text-align: center;
}
.blok4
{
	position:absolute;
	width:150px;
	height:150px;
	right:150px;
	bottom:150px;
	background-color: blue;
	text-align: center;
}
