p
{
color:white;
}

body
{
   background-color: gray;
   width: 860px;
   margin: auto; /* Om onze pagina te centreren */
   margin-top: 15px; /* Om niet aan de bovenkant van het browservenster te plakken. */
   margin-bottom: 15px;    /* Idem voor de onderkant van het browservenster */
}

h1
{
font-size: 55px;
color:white; 
line-height: 80px;
text-align:center;
}



#hoofding
{
   width: 855px;
   height: 165px; 
   margin-bottom: 10px;
   border: 3px solid white; 
   background-image: url("images/banner.jpg");
   color: white;
}

#inhoud
{
  background-color: rgb(255, 124, 0);
  border:3px solid white;
  margin-left: 150px; 
  margin-bottom: 10px; 
  padding: 20px; 
  color:white;
  margin-right: 150px;
}

#werkbalk
{
  list-style-type: none;
  padding-left: 0;
  height: 25px;
  border: 2px solid white;
  background-color: rgb(255, 124, 0);
}

.wb_rechts
{
  float: right;
  padding-left: 15px;
  padding-right: 5px;
  padding-top: 3px;
}
.wb_links
{
  float: left; 
  padding-left: 5px;
  padding-right: 15px;
  padding-top: 3px;
}

#werkbalk li
{
  color : white;
  height: 25px;
  line-height: 25px;
  text-align: center;
  padding-top: 0px;
  font-family:'Trebuchet MS', Arial, 'Times new roman', Times, serif;
  font-size:0.9em;
}

#werkbalk a
{
  color:white;
  text-decoration: none;
  font-weight:bold;
  height: 25px;
}

#werkbalk li:hover a
{
  color: red;
}

#werkbalk li:active a
{
  color: blue;
}

#menuleft
{
   float: left;
   width: 130px;
   background-color: rgb(255, 124, 0);
   border: 3px solid white;
   color: white;
   clear: left;
}

#menuleft2
{
   float: left;
   clear: left;
   width: 130px;
   background-color: rgb(255, 124, 0);
   border: 3px solid white;
   color: white;
   margin-top: 1em;
   margin-bottom: 1em;
}

#menuright
{
   float: right;
   width: 130px;
   background-color: rgb(255, 124, 0);
   border: 3px solid white;
   color: white;
   clear: left;
}

#menuright2
{
   float: right;
   clear: right;
   width: 130px;
   background-color: rgb(255, 124, 0);
   border: 3px solid white;
   color: white;
   margin-top: 1em;
   margin-bottom: 1em;
}

#menuleft ul
{
  list-style-type:none; 
  padding:0px;
  padding-left:15px;
  margin:0px;
  margin-bottom:10px;
  color: white;
}

#menuleft h3
{
  margin-left:30px;
}

#menuleft a
{
  color:white;
  text-decoration: none;
  font-weight:bold;
  height: 25px;
  font-family:'Trebuchet MS', Arial, 'Times new roman', Times, serif;
  font-size:0.9em;
}

#menuleft li:hover a
{
  color: red;
}

#menuleft li:active a
{
  color: blue;
}

#menuleft2 ul
{
  list-style-type:none; 
  padding:0px;
  padding-left:15px;
  margin:0px;
  margin-bottom:10px;
  color: white;
}

#menuleft2 h3
{
  margin-left:30px;
}

#menuleft2 a
{
  color:white;
  text-decoration: none;
  font-weight:bold;
  height: 25px;
  font-family:'Trebuchet MS', Arial, 'Times new roman', Times, serif;
  font-size:0.9em;
}

#menuleft2 li:hover a
{
  color: red;
}

#menuleft2 li:active a
{
  color: blue;
}

#menuright ul
{
  list-style-type:none; 
  padding:0px;
  padding-left:15px;
  margin:0px;
  margin-bottom:10px;
  color: white;
}

#menuright h3
{
  margin-left:30px;
}

#menuright a
{
  color:white;
  text-decoration: none;
  font-weight:bold;
  height: 25px;
  font-family:'Trebuchet MS', Arial, 'Times new roman', Times, serif;
  font-size:0.9em;
}

#menuright li:hover a
{
  color: red;
}

#menuright li:active a
{
  color: blue;
}

#menuright2 ul
{
  list-style-type:none; 
  padding:0px;
  padding-left:15px;
  margin:0px;
  margin-bottom:10px;
  color: white;
}

#menuright2 h3
{
  text-align: center;
}

#menuright2 a
{
  color:white;
  text-decoration: none;
  font-weight:bold;
  height: 25px;
  font-family:'Trebuchet MS', Arial, 'Times new roman', Times, serif;
  font-size:0.9em;
}

#menuright2 li:hover a
{
  color: red;
}

#menuright2 li:active a
{
  color: blue;
}

#voet
{
   padding: 5px;
   text-align: center;
   background-color: rgb(255, 124, 0);
   border: 3px solid white;
   color: white;
   clear:both;
}

td, th, tr, label
{

}